@{
    ViewData["Title"] = "Perliment";
}

    
<div class="container">
    <div class="d-flex flex-wrap">
        <div class="card m-4" style="width: 18rem;">
            <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQ0HOCCHe3DyVSEyHi_A01GULI9SqQN64lfvTL9gJEZICP-6-eR" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Former President</h5>
                <p class="card-text">Mahinda Rajapaksa is a Sri Lankan politician. He served as the President of Sri Lanka from 2005 to 2015; the Prime Minister of Sri Lanka from 2004 to 2005, 2018, and 2019 to 2022; the Leader of the Opposition from 2002 to 2004 and 2018 to 2019, and the Minister of Finance from 2005 to 2015 and 2019 to 2021..</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="card m-4" style="width: 18rem;">
            <img src="https://i.guim.co.uk/img/media/1e8533e890c9721c2926735e48262598c44a6cb5/0_199_5184_3110/2000.jpg?width=700&quality=85&auto=format&fit=max&s=704fc35622fdfdc577962ef90feb5875" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Former President</h5>
                <p class="card-text">Maithripala Yapa Sirisena is a Sri Lankan politician who served as the seventh President of Sri Lanka from 9 January 2015 to 18 November 2019. Sirisena is Sri Lanka's first president from the North Central Province of the country and does not belong to the traditional Sri Lankan political elite.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>
