@model Product


<form method="post" asp-controller="Product" asp-action="Make">
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name"/>
    </div>
    <div>
        <label asp-for="Price"></label>
        <input asp-for="Price" />
    </div>
    <div>
        <label asp-for="Qty"></label>
        <input asp-for="Qty" />
    </div>
    <div>
        <button class="btn btn-primary" type="submit">Create</button>
    </div>
</form>